{% load i18n %}
<div class="modal fade" id="googledriveinstitutions_modal" tabindex="-1" role="dialog" aria-labelledby="googledriveinstitutions_modal_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 id="googledriveinstitutions_modal_label">{% trans "Connect a Google Drive Account" %}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>
                            <b class='googledriveinstitutions-modal-message'>{% trans 'Please click "Get OAuth Permission" button to connectGoogle Drive.' %}</b>
                            <br />
                            <b class='googledriveinstitutions-modal-message'>{% trans "Then you will be redirected to Google authentication page." %}</b>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group text-center">
                            <a href="{% url 'oauth:connect'   'googledriveinstitutions' institution.id 'true'   %}"
                                class="btn btn-primary auth-permission-button" role="button"
                                id='googledriveinstitutions_auth_hyperlink' target="_blank">{% trans "Get OAuth permission" %}</a>
                        </div>
                        <div class="hidden googledriveinstitutions-auth-callback" id="googledriveinstitutions_authorization_div">
                            <label>
                                {% trans "Authorized by:" %}
                            </label>
                            <span id='googledriveinstitutions_authorized_by'></span>
                        </div>
                        <div class="hidden googledriveinstitutions-auth-callback" id="googledriveinstitutions_current_token_div">
                            <label>
                                {% trans "Current token:" %}
                            </label>
                            <span id='googledriveinstitutions_current_token' class='truncated'></span>
                        </div>
                        <div class="form-group">
                            <label for="googledriveinstitutions_folder">{% trans "Folder" %}</label>
                            <input type="text" class="form-control googledriveinstitutions-params" id="googledriveinstitutions_folder"
                                placeholder='{% trans "Folder ID (Ex: root)" %}'>
                        </div>
                        <div class="help-block">
                            <p id='googledriveinstitutions_message' class='text-danger'></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-sm-6">
                        <div class="form-group">
                            <label>{% trans "Download User Mapping file" %}</label><br/>
                            <button type="button" class="btn btn-default download-csv" id="csv_download">{% trans "Download" %}</button>
                            <div id="csv_download_ng" class="text-danger"></div>
                       </div>
                        <div class="form-group">
                            <label>{% trans "Upload User Mapping file" %}</label></br>
                            <input type="hidden" class="selection" id="csv_check_extuser">
                            <div class="csv-upload-button">
                                <label class="btn btn-default btn-file">
                                    {% trans "Browse" %}<input type="file" name="usermap" id="googledriveinstitutions_csv_file" accept=".csv">
                                </label>
                                <div id="csv_file_name"></div>
                            </div>
                            <div class="text-muted" style="text-align: left" id="csv_report">
                                <em>
        {% blocktrans %}Example of User Mapping file{% endblocktrans %}:<br/>
        #User_GUID(or ePPN),External_UserID,Fullname(ignored)<br/>
        eppn_user1@idp.example.com,external_user1,User1<br/>
        ABCDE,external_user2,User2<br/>
                                </em>
                            </div>
                            <div id="csv_usermap" hidden></div>
                            <div id="csv_ok" class="text-success"></div>
                            <div id="csv_ng" class="text-danger"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default auth-cancel" id="googledriveinstitutions_cancel" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-default" disabled>{% trans "Connect" %}</button>
                <button type="button" class="btn btn-success save-credentials" id="googledriveinstitutions_save" disabled>{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
